<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>d</title>
    <link rel="shortcut icon" href="./bom-logo.png" type="image/x-icon">
    <!-- CSS Files -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link type="text/css" href="../user/blockUI/base.css" rel="stylesheet" />
    <link type="text/css" href="../user/blockUI/Spacetree.css" rel="stylesheet" />
    
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="../user/login_signup_page.css">
    <link rel="stylesheet" href="../user/all.min.css">
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->
    <!-- <link rel="stylesheet" href="../user/login_signup_page.css"> -->
    <link rel="stylesheet" href="../user/bootstrap.min.css">
    <link rel="stylesheet" href="../user/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="../user/print.css" media="print"/> -->
</head>
<body onload="init();">

  
    <div class="tables">
        
        <!-- R E L A T I O N S H I P S -->
        <div class="login-container forms">
          <div class="logo mt-4 logo-pic">
          <img src="./user/bom-logo.png" alt="" class="img-rounded">
          <h1 class="mt-4">Welcome to bom</h1>
        </div>
        <br>
        </div>
    </div>

    <div class="container bg-transparent">
      <div class="acc-links">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><h3>USER ACCOUNT</h3></div>
        </div>
        <span class="badge"><a href="../user/login" class="btn btn-primary btn-lg mr-2">LOGIN </a> <a href="../user/signup" class="btn btn-primary btn-lg">
          SIGNUP
        </a></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><h3>AGENT ACCOUNT</h3></div>
        </div>
        <span class="badge"><a href="../agent/login" class="btn btn-primary btn-lg mr-2">LOGIN </a> <a href="../agent/signup" class="btn btn-primary btn-lg">
          SIGNUP
        </a></span>
      </li>
      <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><h3>BUSINESS ACCOUNT</h3></div>
        </div>
        <span class="badge"><button type="button" class="btn btn-primary btn-lg mr-2">LOGIN</button> <button type="button" class="btn btn-primary btn-lg">SIGNUP</button></span>
      </li> -->
    </ul>
  </div>
    <div class="more">
      <a href="./moreabout">Read More &rAarr;</a>
    </div>
  </div>

    <div class="footer-content">
      <div class="version">
          &copy; 2020 - <span class="year"></span> , BOM-v0.0.2 
      </div>
      <div class="footer-links">
          <ul>
              <li><a href="/terms">Terms</a></li>
              <li><a href="/privacy">Privacy</a></li>
              <li><a href="/security">Security</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/contacts" class="link-contact">Contact B.O.M</a></li>
          </ul>
      </div>
      <div class="social">
          <ul>
              <li><a href="/youtube"><i class="fab fa-facebook"></i></a></li>
              <li><a href="/instagram"><i class="fab fa-youtube"></i></a></li>
              <li><a href="/facebook"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </div>
  </div>
  <!-- <script src="../user/blockJS/jit.js"></script> -->
  <!-- <script src="../user/blockJS/example2.js"></script> -->
  <script src="../user/signup_tabs.js"></script>
  <script src="../user/user.js"></script>
  <script src="../user/all.min.js"></script>
  <script src="https://unpkg.com/currency.js@2.0.4/dist/currency.min.js"></script>
  </body>
  </html>