<%- include('header',{
    title:'Login'
}); -%>

<div class="link"><a href="/"> &lAarr; BACK</a></div><br><br>
<div class="container forms">
    <h1> 👨‍🦲 Complete Agent Profile</h1>

    <form action="" method="POST">
        <% if(typeof msg != 'undefined'){ %>
            <div class="success-msg"><%= msg %></div><% }
            if(typeof error !== 'undefined'){ %>
            <div class="err-msg"><%= error %></div><% } %>
            
        <div class="discriptions pt-2">
            If you choose to use BOM as an agent, you will be able to Deposit, Send or withdraw money.
            You can Withdraw, Send or Deposit to: other agents, companies,users or banks.
            agents will get 4% of every transaction cost. If cost is 40 ksh, they will get 1.6 ksh
        </div><br>
        <input type="checkbox" name="agree_agent_complete" id="terms_and_conditions" value="yes" onclick="terms_changed(this)"> <span class="check">Check this box to Finish</span><br><br>
        <button type="submit" id="submit_button" disabled>finish</button>
    </form>

</div>

<%- include('footer'); -%>