<script src="../user/jquery.js"></script>
<!-- <script src="../user/blockJS/jit.js"></script> -->
<!-- <script src="../user/blockJS/example2.js"></script> -->
<script src="../user/signup_tabs.js"></script>
<script src="../user/user.js"></script>
<script src="../user/all.min.js"></script>
<script src="../user/bootstrap.min.js"></script>
<script src="../user/currency.js"></script>
<script src="https://unpkg.com/currency.js@2.0.4/dist/currency.min.js"></script>
</body>
</html>