<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (typeof(title) !== 'undefined') ? title : user.first_name%>  <%= (typeof(title) !== 'undefined') ? title : user.last_name%></title>
    <link rel="shortcut icon" href="./bom-logo.png" type="image/x-icon">
    <!-- CSS Files -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link type="text/css" href="../user/blockUI/base.css" rel="stylesheet" /> -->
    <link type="text/css" href="../user/blockUI/Spacetree.css" rel="stylesheet" />
    
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="../user/all.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../user/login_signup_page.css">
    <link rel="stylesheet" href="../user/bootstrap.min.css">
    <link rel="stylesheet" href="../user/style.css">
    <link rel="stylesheet" type="text/css" href="../user/print.css" media="print"/>
</head>
<body>
    