<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="collapsible-content">
                  
              <div class="right-activity-top container">
                  <div class="right">
                  <div class="top">
                      <span class="date-time"></span>
                  </div>
                  
                  <div class="chat" data-chat="person2">
                  <div class="me tips">
                      <div class="thi-sweek">
                          <div class="this-week-header">Total Spent</div>
                          <div class="this-week-statistics">
                              <div class="weeks-data">
                                  <div class="weekly">
                                      <div class="this-week-avarage-text">
                                          <span>Week's Avarage</span>
                                      </div>
                                      <div class="this-week-avarage-amount">
                                          <span>Ksh - 33,490</span>
                                      </div>
                                      <div class="today-avarage-text">
                                          <span>Today's Avarage</span>
                                          <span>Ksh - 2,570</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
                  
                  <div class="chat" data-chat="person1">
                      <div class="bubble you sms"></div>
                  </div>
                  </div>
                  </div>
                  <div class="right-activity-bottom table-data">
                      <table class="sender-table">
                          <tr>
                              <th>Sent &uparrow;</th>
                              <th>To</th>
                              <th>Mobile</th>
                              <th>Transaction ID</th>
                          </tr>
                          <tr class="light-bg">
                              <td>Ksh  <span class="amount"></span></td>
                              <td class="recipient-name"></td>
                              <td class="recipient-mobile"></td>
                              <td class="transaction-id"></td>
                          </tr>
                      </table>
                  
                      <table class="recipient-table">
                          <tr>
                              <th>Received &downarrow;</th>
                              <th>From</th>
                              <th>Mobile</th>
                              <th>Transaction ID</th>
                          </tr>
                          <tr class="light-bg">
                              <td>Ksh  <span class="amount"></span></td>
                              <td class="sender-name"></td>
                              <td class="sender-mobile"></td>
                              <td class="transaction-id"></td>
                          </tr>
                      </table>
                  </div>
                  <div class="right-activity-bottom-last table-data">
                      <table class="sender-wallet-table">
                          <tr>
                              <th>Transaction Cost</th>
                              <th>Process</th>
                              <th>Transaction ID</th>
                          </tr>
                          <tr>
                              <td>Ksh  <span class="sender-sender-cost"></span></td>
                              <td>Completed &checkmark;</td>
                              <td class="transaction-id"></td>
                          </tr>
                      </table>
                  
                      <table class="recipient-wallet-table">
                          <tr>
                              <th>Wallet income <small>(10% 0f sender cost)</small></th>
                              <th>Sender Cost</th>
                              <th>Transaction ID</th>
                          </tr>
                          <tr>
                              <td>Ksh  <span class="wallet-income"></span></td>
                              <td>Ksh  <span class="recipient-sender-cost"></span></td>
                              <td class="transaction-id"></td>
                          </tr>
                      </table>
                  </div>
      
      
      
      </div>
      </div>
    </div>
  </div>
</div>