<div class="no-data-field hide">
  <div class="left-no-data">
      <div class="info-no-data">
          <h2>Your Transaction History will go here</h2>
      </div>
  </div>
  <div class="right-no-data">
      <div class="tips-no-data">
          <h2>Tips</h2>
          <div class="tips-body-no-data">
              <ol>
                  <li>If you do something</li>
                  <li>Do it like never before</li>
                  <li>Don't stop</li>
                  <li>Make it an habbit</li>
                  <li>Teach others</li>
                  <li>Succeed with them ⏰ </li>
              </ol>
          </div>
      </div>
  </div>
</div>