<%- include('header',{
    title:'Login'
}); -%>

<!-- <div class="link"><a href="/"> &lAarr; BACK</a></div><br><br> -->
<style>
    .read-more-page{
        text-align: center;
        width: 50%;
        margin: 25% auto;
    }
</style>
<div class="read-more-page">
    <h1 >READ MORE PAGE WILL GO HERE !</h1>
</div>

<%- include('footer'); -%>