<%- include('header'); -%>
<main>
  <div class="top-nav">
    <div class="user-name-and-search">
        <div class="logo">
          <div class="action-header-logo">
              <img src="./K-for-kepas-2.jpg" alt="logo">
              
          </div>
      </div>
      <ul class="tiop-nav-actions">
          <li><a href="/"> dashboard</a></li>
          <li><a href="./sendmoney" class="active-link"> send or withdraw</a></li>
          <li><a href="./wallet"> wallet</a></li>
          <li><a href="./activity"> activity</a></li>
          <li><a href="./help"> help</a></li>
      </ul>
        <div class="search">
          <a href="./notifications" class="link-1" id="notifications-closed">
              <div class="notifications">
                  <span class="notification-count">2</span>
                  <span class="bell-icon"><i class="fas fa-bell"></i></span>
              </div>
          </a>
  
          <a href="./account" class="link-1" id="my-account-closed">
              <div class="user-account-details dropbtn" onclick="showUserProfileMenu()">
                  <span class="user-icon"><i class="fas fa-user"></i></span>
                  
              </div>
          </a>
        </div>
    </div>
  </div>
  <div class="payment-navigation">
    <div class="payment-navigation-links">
      <ul>
        <li><a href="#">Send</a></li>
        <li><a href="#">Withdraw</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>
  </div>
  <br>
  <%- include('sendmoney') -%>

  <%- include('footerContent'); -%>
</main>
<%- include('footer'); -%>